/*#main {*/
    /*padding: 10px;*/
/*}*/
#main {
    float: left;
}

#hover {
    position: fixed;
    top: 50px;
    left: 800px;
    pointer-events: none;
}

#hover2 {
    position: fixed;
    top: 50px;
    left: 1250px;
    pointer-events: none;
}

circle {
  fill-opacity: 1;
}
circle.hidden {
  fill-opacity: .5;
}

circle.hovered {
    fill-opacity: 1;
}

rect {
    fill-opacity: .4;
}
rect.hovered {
    fill-opacity: .75;
}

body {
    /*font-family: "Open Sans";*/
    font-family: "Arial"
}

.title h3 {
    font-size: 20px;
    font-weight: light;
}

a {
    color: #555;
    font-size: 13px;
    text-decoration: underline;
}


